<mat-drawer-container class="drawer-container" hasBackdrop="false">
  <mat-drawer class="mat-eleveuation-z3" mode="side" #drawer [opened]="true">
    <app-side-nav></app-side-nav>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>

<!-- Do not remove this we need int the future -->
<!-- <mat-drawer-container class="drawer-container" hasBackdrop="false">
@if(isMenuOpen$ | async){}

    [ngClass]="(isMenuOpen$ | async) ? 'collapsed-side-nav' : ''"


     [ngClass]="(isMenuOpen$ | async) ? 'collapsed-side-nav' : ''"

  <mat-drawer class="mat-eleveuation-z3" #drawer mode="side" [opened]="true">
    <app-side-nav></app-side-nav>
  </mat-drawer>
  <div class="example-sidenav-content">
    <router-outlet></router-outlet>
  </div>
</mat-drawer-container> -->
