<button mat-button mat-flat-button [matMenuTriggerFor]="menu">
  <mat-icon>add</mat-icon>
  Add Widgets
</button>

<mat-menu #menu="matMenu">
  @for (widget of widgets ; track widget.id) {
  <button mat-menu-item (click)="store.addWidget(widget)">
    {{ widget.name }}
  </button>

  }@empty { no data }

  <!-- <div cdkDropList class="example-list">  </div>
    @for (widget of widgets ; track widget.id) {
    <button mat-menu-item class="example-box" cdkDrag>
      {{ widget.name }}
      <img *cdkDragPreview [src]="widget.thumbnail" [alt]="widget.name" />
    </button>
    } -->
</mat-menu>
